:root {
  --twidth: calc(100svw / 6);
  --theight: calc(var(--twidth) * 3);
  --red: #FF4F4F;
  --blue: #F0F8FF;
  --white: #FFFFFF;
  --gray: #565656;
}

@media screen and (min-width: 800px) {
  :root {
    --twidth: calc(50svw / 12);
    --theight: calc(var(--twidth) * 6);
  }

  body {
    display: flex;
    justify-content: center;
    background-color: var(--blue);

  }
  
  .container {
    position: fixed;
    top: 50%;
    box-shadow: 3px 3px var(--gray);
    background-color: var(--white);
    transform: translateY(-50%);
  }

  .triangle {
    border-left: var(--theight) solid transparent;
    border-right: var(--theight) solid transparent;
    border-top: var(--twidth) solid var(--red);
  }
}

@media screen and (orientation: landscape) {
  :root {
      --twidth: calc(50svw / 12);
      --theight: calc(var(--twidth) * 6);
  }
  
  .triangle {
    border-left: var(--height) solid transparent;
    border-right: var(--theight) solid transparent;
    border-top: var(--twidth) solid var(--red);
  }
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

h1 {
  margin: 0;
  font-size: 30px;
}

input[type=text] {
  width: 150px;
  margin: .2em;
  border: none;
  text-align: center;
  font-size: 60px;
}

input:focus {
  outline: none;
}

#fahrenheit {
  color: var(--white);
  background-color: transparent;
}

#fahrenheit::placeholder {
  color: var(--white);
}

#celsius {
  padding-top: 1em;
  background-color: transparent;
}

#celsius,
#celsius::placeholder,
.bottom {
  color: var(--red);
}

.container {
  height: 90svh;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40svh;
  color: var(--white);
  background-color: var(--red);
}

.top-header {
  margin-top: 3em;
}

.triangle {
  border-left: var(--theight) solid transparent;
  border-right: var(--theight) solid transparent;
  border-top: var(--twidth) solid var(--red);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40svh;
}

.bottom-header {
  margin-bottom: 3em;
  text-align: center;
}