:root {
  --twidth: calc(100svw / 6);
  --theight: calc(var(--twidth) * 3);
  --red: #FF4F4F;
}

@media screen and (min-width: 800px) {
  :root {
    --twidth: calc(50svw / 6);
    --theight: calc(var(--twidth) * 6);
  }

  triangle {
    border-left: var(--height) solid transparent;
    border-right: var(--theight) solid transparent;
    border-top: var(--twidth) solid var(--red);
  }
}

@media screen and (orientation: landscape) {
  :root {
      --twidth: calc(50svw / 6);
      --theight: calc(var(--twidth) * 6);
  }
  
  triangle {
    border-left: var(--height) solid transparent;
    border-right: var(--theight) solid transparent;
    border-top: var(--twidth) solid var(--red);
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100svh;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

h1 {
  margin: 0;
  font-size: 30px;
}

input[type=text] {
  border: none;
  margin: .2em;
  width: 150px;
  text-align: center;
  font-size: 60px;
}

input:focus {
  outline: none;
}

#fahrenheit {
  color: white;
  background-color: transparent;
}

#fahrenheit::placeholder {
  color: white;
}

#celsius {
  padding-top: .8em;
  background-color: transparent;
}

#celsius,
#celsius::placeholder,
.bottom {
  color: var(--red);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--red);
  height: 40svh;
}

.top-header {
  margin-top: 3em;
}

.triangle {
  border-left: var(--theight) solid transparent;
  border-right: var(--theight) solid transparent;
  border-top: var(--twidth) solid var(--red);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40svh;
}

.bottom-header {
  text-align: center;
  margin-bottom: 3em;
}